neighbor $neighbor_id {
    router-id {{ local_nodeid }};
    local-address {{ local_ip }};
    local-as {{ local_asn }};

    peer-as {{ remote_asn }};
    peer-address {{ remote_ip }};

    family {
        ipv4 unicast;
    }

    {{ flow_conf }}

}

