setuptools
argparse
celery
Django==4.2
gevent
lxml
ncclient
requests
pysnmp
ipaddress
redis
pytest
psutil
longerusername
intervaltree
django-registration
#django-admin
django-form-utils
django-picklefield
django-settings-export
django-six
django-tinymce
#django-excel-response2
exabgp
djangorestframework
# ugettext
#django-utils-translation
django-translated-fields
mysqlclient
django.url.framework
gunicorn
